body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Karla, sans-serif;
}

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f5f7fb;
}

.blobsTop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.blobsBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.intro-title {
  color: #293264;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  margin-bottom: 7px;
}

.intro-desc {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 20px;
}

.intro-startBtn {
  padding: 16px 28px;
  border: none;
  background-color: #4d5b9e;
  border-radius: 15px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f5f7fb;
  cursor: pointer;
}

.intro-startBtn:hover {
  background-color: #5f6aa1;
}

.intro-startBtn:focus {
  outline: none;
}

.intro-startBtn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.questions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 75px;
  margin-bottom: 25px;
}

.quizzes {
  margin: 40px 0 15px 0;
  z-index: 2;
}

.quiz {
  padding-bottom: 15px;
  border-bottom: 0.8px solid #dbdef0;
  margin-bottom: 15px;
  max-width: 600px;
}

.question {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 12px;
}

.answers {
  display: flex;
}
/* 
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.8px solid #4d5b9e;
  border-radius: 8px;
  margin-right: 13px;
  padding: 4px 16px;
  cursor: pointer;
  transition: border 0.15s, background-color 0.15s;
}

.answer:hover {
  border: none;
  background-color: #d6dbf5 !important;
} */

.answer:active {
  background-color: #a3aee6;
}

.quiz-btn {
  z-index: 2;
  justify-content: center;
  align-items: center;
  background-color: #4d5b9e;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 35px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #f5f7fb;
  cursor: pointer;
  transition: background-color 0.15s;
}

.quiz-btn:hover {
  background-color: #213f80;
}
