body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Karla, sans-serif;
}

/* -------- Intro Page ---------- */

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f5f7fb;
}

.blobsTop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.blobsBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.intro-title {
  color: #293264;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  margin-bottom: 7px;
}

.intro-desc {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 20px;
}

.intro-startBtn {
  padding: 16px 28px;
  border: none;
  background-color: #4d5b9e;
  border-radius: 15px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f5f7fb;
  cursor: pointer;
}

.intro-startBtn:hover {
  background-color: #5f6aa1;
}

.intro-startBtn:focus {
  outline: none;
}

.intro-startBtn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* ---------- Questions Page ------------- */

.questions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 75px;
  margin-bottom: 25px;
  position: relative;
}

.quizzes {
  margin: 40px 0 15px 0;
  z-index: 2;
}

.quiz {
  padding-bottom: 15px;
  border-bottom: 0.8px solid #dbdef0;
  margin-bottom: 15px;
  max-width: 600px;
}

.question {
  font-family: "Karla";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 12px;
}

.answers {
  display: flex;
}

.answer:active {
  background-color: #a3aee6;
}

.quiz-btns {
  display: flex;
  flex-direction: row;
}

.quiz-btn {
  z-index: 2;
  justify-content: center;
  align-items: center;
  background-color: #4d5b9e;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 35px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #f5f7fb;
  cursor: pointer;
  transition: background-color 0.15s;
  margin-right: 12px;
}

.quiz-warning,
.quiz-score {
  margin-bottom: 15px;
}

.quiz-btn:hover {
  background-color: #213f80;
}

.quiz-warning {
  color: #ff0000;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
}

/* --------- History Page -------------- */

.quiz-history-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.history-item {
  width: 45%;
  margin-bottom: 28px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: background-color 0.15s;
  position: relative;
}

.history-item:hover {
  background-color: rgb(235, 230, 230);
}

.hd-mainSection {
  flex: 1;
  display: flex;
  text-decoration: none;
}

.hd-info {
  margin-left: 12px;
}

.hd-header {
  font-size: 11px;
  color: #a2a2a2;
  margin-bottom: 6px;
}

.hd-name {
  font-size: 18px;
  margin-bottom: 15px;
  color: black;
}

.hd-correctionContainer,
.hd-timeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.hd-correctionIcon,
.hd-timeIcon {
  margin-right: 4px;
}

.hd-correctionIcon {
  color: green;
}

.hd-correction,
.hd-time {
  color: #a2a2a2;
  font-size: 12px;
  font-weight: bold;
}

.hd-image {
  width: 50px;
  height: 50px;
}

.hd-rightSection {
  padding: 4px 6px;
  height: fit-content;
  border-radius: 4px;
  transition: background-color 0.15s;
  position: absolute;
  top: 7px;
  right: 9px;
}

.hd-rightSection:hover {
  background-color: #a5a5a5;
}

.error-page {
  margin-top: 50px;
  width: 60%;
  object-fit: cover;
}

.history-details-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
